In [11]:
# Get imports
import pandas as pd
import os

# Set path names
schools_path = os.path.join('Resources','schools_complete.csv')
students_path = os.path.join('Resources','students_complete.csv')

# Create dataframes
schools_df = pd.read_csv(schools_path, delimiter=',')
students_df = pd.read_csv(students_path, delimiter=',')
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [30]:
students_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [46]:
# Total number of schools in district is length of schools data frame
total_schools = len(schools_df)
# Total number of students in district is length of students data frame
total_students = len(students_df)
# Total budget for district is the sum of the budget column in schools data frame
total_budget = schools_df['budget'].sum()
# Average math = mean of student's math scores
average_math_score = round(students_df['math_score'].mean())
# Average reading = mean of student's reading scores
average_reading_score = round(students_df['reading_score'].mean())
# Create variable to control passing grade - default is higher than 60
passing = 60
# Create a new boolean column in students data frame for if studennt is passing math 
students_df.loc[students_df['math_score'] > passing, 'passing_math'] = True
students_df.loc[students_df['math_score'] <= passing, 'passing_math'] = False
# Total number of students passing math is length of studnets data frame with passing math True
total_passing_math = len(students_df[students_df['passing_math'] == True])
# Percent passing math is total number passing math divided by total number of students
percent_passing_math = round(100 * total_passing_math / total_students)
# Create boolean column for passing reading
students_df.loc[students_df['reading_score'] > passing, 'passing_reading'] = True
students_df.loc[students_df['reading_score'] <= passing, 'passing_reading'] = False
students_df.loc[students_df['passing_math'] == True and students_df['passing_reading'] == True, 'passing_overall'] = True
# students_df.loc[students_df['passing_math'] == False or students_df['passing_reading'] == False, 'passing_overall'] = False

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().